@import '@styles/global';

.container {
  padding: $margin-main;

  &.center {
    text-align: center;
  }

  .errorText {
    font-size: $font-size-middle;
    color: $dark-red;
  }

  .title {
    margin-bottom: $margin-main;
  }

  .commentList {
    display: flex;
    flex-direction: column;
    row-gap: $margin-main;
  }
}
