$font-family-main: rubik, 'Times New Roman', sans-serif;

// Font-size
$font-size-small: 12px;
$font-size-main: 16px;
$font-size-middle: 20px;
$font-size-large: 24px;
$font-size-xl: 28px;

// Font-weight
$font-weight-light: 200;
$font-weight-main: 400;
$font-weight-bold: 900;

// Width
$width-xl: 1200px;

// Colors
$dark-white: #f8f8f8;
$white: #fff;
$darker-white: #ccc;
$white-dark: #4d4d4d;
$dark: #121212;
$black: #000;
$white-grey: #d6d6d6;
$grey: #b5b5b5;
$dark-red: #812a2a;
$red: #dc3939;
$white-red: #dba3a3;

// Margins-paddings
$margin-small: 12px;
$margin-main: 16px;
$margin-middle: 20px;
$margin-large: 24px;
$margin-xl: 28px;

// Radiuses
$radius-small: 10px;
$radius-main: 20px;

// Heights
$field-height: 44px;
