@mixin margin-auto {
  margin-right: auto;
  margin-left: auto;
}

@mixin flex-a-j-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-a-j-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-a-center {
  display: flex;
  align-items: center;
}
