@import './reset';
@import './fonts';
@import './variables/global';

.layout {
  font-family: $font-family-main;
  font-style: normal;
  font-weight: $font-weight-main;
  font-size: $font-size-main;
}
