@import '@styles/global';

@mixin icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.shortInfo {
  margin-top: $margin-main;

  .shortList {
    display: flex;
    justify-content: space-around;

    .shortListItem {
      & > p {
        font-size: $font-size-large;
        color: $dark;
      }

      & > span {
        display: inline-block;
        color: $grey;
        margin-top: 4px;
      }
    }
  }

  .description {
    .text {
      margin-top: $margin-small;
    }

    .adress {
      display: flex;
      column-gap: $margin-main;

      .copy {
        @include icon;
        color: $red;
        cursor: pointer;
      }
    }

    .pricePerMonth {
      font-size: $font-size-xl;
    }

    .views {
      display: flex;
      column-gap: $margin-main;

      .icon {
        @include icon;
      }
    }

    .updated {
      & > span {
        color: $grey;
      }
    }
  }
}
