@import '@styles/global';

.btn {
  background-color: $dark;
  transition: background-color 0.4s;
  color: $white;
  padding: $margin-small $margin-large;
  min-width: 15px;
  width: 100%;
  border-radius: $radius-main;

  &:hover {
    background-color: $white-dark;
  }
}

.small {
  font-size: $font-size-small;
}

.main {
  font-size: $font-size-main;
}

.middle {
  font-size: $font-size-middle;
}

.large {
  font-size: $font-size-large;
}
