@import '@styles/global';

.btn {
  background-color: antiquewhite;
  padding: 10px;
}

.small {
  font-size: $font-size-small;
}

.main {
  font-size: $font-size-main;
}

.middle {
  font-size: $font-size-middle;
}

.large {
  font-size: $font-size-large;
}
