@import '@styles/global';

.container {
  & > div {
    margin-bottom: $margin-small;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.error {
  text-align: center;
  color: $red;
  margin-top: $margin-main;
}

.button {
  margin-top: $margin-main;
}
