@import '@styles/global';
@import '@styles/mixins';

.container {
  background-color: $dark-white;
  border-radius: $radius-main;
  box-shadow: 0 0 12px 0 $darker-white;
  justify-self: center;
  max-width: 480px;
  width: 100%;

  .slider {
    * {
      @include slider-border-radius;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    row-gap: $margin-small;
    padding: $margin-main;

    .pricePerMonth {
      font-size: $font-size-xl;
    }

    .shortInfo {
      display: flex;
      justify-content: space-between;

      & > p {
        font-size: $font-size-middle;
      }
    }

    .updated {
      & > span {
        color: $grey;
      }
    }

    .buttons {
      display: flex;
      column-gap: $margin-small;
    }
  }
}
