@import '@styles/global';
@import '@styles/mixins';

.label {
  @include label;
}

.textArea {
  resize: vertical;
  padding: $margin-small;
  border: 1px solid $grey;
  border-radius: $radius-small;
  transition: border-color 0.3s;
  width: 100%;

  &:hover:not(&[disabled], .error) {
    border-color: $white-dark;
  }

  &[disabled] {
    background-color: $white-grey;
  }
}

.error {
  border-color: $red;
}
